#implementation folders
csim/
impl/
sim/
syn/
Debug/
vivado/**/proj/
solution*/
doc/

#build folders
build*/

#project folders
*_prj/

#logs files
*.log
*.jou
log.txt

#temp files
*~
*.swp

#hidden files
.*

#tcl, directive files
*.app
*.aps
*.directive

#vivado ip files
*.xml
misc/
sim/
synth/
*_stub.v
*_stub.vhdl
*_funcsim.v
*_funcsim.vhdl
*.upgrade_log
#checkpoints
*.dcp

#test input/output files
*.dat
*.old
*.bk
*.bak
*.csv
*.out

